*{
    margin: 0;
    padding: 0.25em;
}

body{
    width: 1440px;
    height: 1080px;
}

h1{
    padding-left: 100px ;
    font-size:24px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.08em;
    line-height: 25px;
}


.container{
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
}

img{
    width: 500px;
    height: 450px;
}

h2{
    padding-left: 100px;
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
}

p{
    padding-left: 100px;
    font-size:24px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.035em;
    line-height: 36px;

}

input {
    color:white;
    background: black;
    width: 216px;
    height: 68px;
    position: absolute;
    
    left: 730px;
    top: 550px;


}

footer p{
    padding-top: 500px;
    color: silver;
    font-size: 14px;
    text-align: center;
    font-family: Montserrat;
}

@media (max-width: 720px){
    body{
        width: 375px;
        height: 949px;
    }

    h1{
        padding-left: 20px;
    }

    img{
        width: 287px;
        height: 238px;
        
    }

    .container{
        display: grid;
        grid-template-columns: repeat(1 1fr);
        padding-left: 20px;
    }

    h2{
        font-size: 48px;
        padding-left: 20px;
        display: inline;
        font-weight: 700;
    }

    p{
        padding-left: 10px;
        font-size:18px;
    }

    input{
        position: flex;
        left: 30px;
        top: 850px
    }
}